openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
  - url: http://localhost:8082
    description: Local server url
paths:
  /api/v1/clockin/types/{id}:
    put:
      tags:
        - clock-in-type-rest-adapter
      operationId: updateClockInType
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClockInTypeRequest"
        required: true
      responses:
        "200":
          description: Ok
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponse"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - clock-in-type-rest-adapter
      operationId: deleteClockInType
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Ok
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /api/v1/clockin/types:
    get:
      tags:
        - clock-in-type-rest-adapter
      operationId: getClockInTypes
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClockInTypeResponse"
    post:
      tags:
        - clock-in-type-rest-adapter
      operationId: createClockInType
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClockInTypeRequest"
        required: true
      responses:
        "200":
          description: Ok
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponse"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  schemas:
    ClockInTypeRequest:
      type: object
      properties:
        description:
          type: string
          minLength: 1
        io:
          type: boolean
      required:
        - description
        - io
    ApiResponse:
      type: object
      properties:
        message:
          type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
    ClockInTypeResponse:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        io:
          type: boolean