name: Build and test spring boot app
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
  workflow_call:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name: Build app
        run: mvn clean install

      - name: Run tests
        run: mvn test